body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: forestgreen;
    border: 2px solid white;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 75px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 75px;
}
.square.green {
    background-color: red;
}
.square3 img {
    margin: 0 auto;
    padding: 0;

}
.squareorange{
    background: orange;
    border: 2px solid white;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 75px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 75px;
}
.square2 {
    background: blue;
    border: 1px solid #999;
    float: left;
    font-size: 11px;
    font-weight: bold;
    line-height: 34px;
    height: 75px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 75px;
}
.squareLevel1 {
    background: white;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 64px;
    margin-right: -1px;
    margin-top: -1px;
    margin-left: 4px;
    padding: 0;
    text-align: center;
    width: 64px;
}
.squareLevel2 {
    background: white;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 55px;
    margin-right: -1px;
    margin-top: -1px;
    margin-left: 5px;
    padding: 0;
    text-align: center;
    width: 55px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
    margin-left: 350px;
}

.game-info {
    margin-left: 200px;
}
